<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="webjeda">
            {% endif %}
        </div>
            
        <div class="row mt50">
                
        <div class="col-md-12 text-center" style="font-size: 0.8em; font-family: Arial; margin-top: -5px; margin-bottom: 10px;">
            <a href="http://prose.io" class="btn btn-primary btn-sm">Modifier</a>
        </div>
        
        </div>

</div>
